@model List<CrowdFundingProject.Models.Project>
@{
    ViewData["Title"] = "Browse Projects";
}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/Bdashboard.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
    <div class="container">
         <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo-light.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent aria-expanded=false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
         <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
         </li>     
         <li class="nav-item">
            <a id="my-projects" class="nav-link text-light">Dashboard</a>
         </li>
         <li class="nav-item">
            <a class="nav-link active text-light" id="my-profile-backer">My Profile</a>
         </li>
         <li class="nav-item">
             <a class="nav-link active text-light" asp-area="" asp-controller="BackerMenu" asp-action="Browseprojects">Browse New Projects</a>
         </li>
         <li class="nav-item ml-auto">
            <a id="logout-btn"  class="nav-link text-light" style="display:none">Logout</a> 
         </li>
            </ul> 
            </div>
        </div>
                    
    </nav>
</head>
<div class="container">
    <main>       
        <h2>Projects that I Support</h2>
        <div id="projects-list-card">
            @{
                foreach (var project in Model)
                {
                    <div class="card border-left-primary shadow  py-2" style="background-color:#e9f1f7">
                                    <div class="card-body">

                                        <div class="text-xs font-weight-bold text text-uppercase mb-1" style="color:#2c4a58">
                                            <a id="proj-titles" class="nav-link active text-light" asp-controller="BackerMenu" asp-action="ProjectView" asp-route-id="@project.Id">
                                                @project.Title
                                                @{
                                                    if (@project.IsTrending == true)
                                                    {
                                                        <span class="badge badge-pill badge-success" style="margin-left:10px;">Popular</span>
                                                    }
                                                }
                                            </a>
                                        </div>  <!-- Make it pop up only for new ones -->
                                        <div class="h5 mb-0 font-weight-bold text" style="color:#2c4a58">Category : @project.TagName </div>
                                        <div class="h5 mb-0 font-weight-bold text" style="color:#2c4a58">End Date : @project.EndDate </div>
                                        <!-- Progress -->
                                        <div class="h5 mb-0 mr-3 font-weight-bold text" style="color:#2c4a58">Goal Completion: @project.Progress %</div>

                                        <div class="progress">
                                            <div id="one" class="progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="@Math.Round(project.Progress)" aria-valuemin="0" aria-valuemax="100" style="width:@Math.Round(project.Progress)%;background-color:#2c4a58;">
                                            </div>
                                        </div>
                                        <div class="h5 mb-0 mr-3 font-weight-bold text" style="color:#2c4a58">Creator: @project.Creator.Username</div>
                                        <!-- Progress -->
                                        Bundles:
                                        <div>
                                            @{
                                                foreach (var bundle in project.Bundles)
                                                {
                                                    <div class="h5 mb-0 font-weight-bold text" style="color:#2c4a58"> @bundle.Description for @bundle.Prize € </div>
                                                }
                                            }
                                        </div>
                                    </div>
                    </div>
                }
            }
        </div>
    </main>
</div>
